div.dotted {border-style: dotted;border-width: 1px;background-color:#FAEBD7;}
div.dashed {border-style: dashed;border-width: 1px;background-color:#FAEBD7;}
div.solid {border-style: solid; border-width: 1px;background-color:#FAEBD7;}
div.double {border-style: double;border-width: 1px;background-color:#FAEBD7;}
div.groove {border-style: groove;border-width: 1px;background-color:#FAEBD7;}
div.ridge {border-style: ridge;border-width: 1px;background-color:#FAEBD7;}
div.inset {border-style: inset;border-width: 1px;background-color:#FAEBD7;}
div.outset {border-style: outset;border-width: 1px;background-color:#FAEBD7;}