.nor_text {position:absolute;
left:600px;
top:50px;
z-index:10;font-family:Arial;font-size:24px;font-weight:normal;font-style:normal;text-decoration:none;}
.nor_text2 {position:absolute;
left:900px;
top:100px;
z-index:10;font-family:Arial;font-size:24px;font-weight:normal;font-style:normal;text-decoration:none;}
.deli_product {position:absolute;
left:10px;
top:50px;
z-index:9;
}
.edit_page {position:absolute;
left:10px;
top:50px;
z-index:9;
width:1160px;
height: 300px;
}
.read_page {position:absolute;
left:50px;
top:450px;
z-index:9;
width:500px;
height: 300px;
overflow:scroll;
}
.read_form {position:absolute;
left:30px;
top:0px;
z-index:9;
}
.form_pos {position:absolute;
left:0px;
top:100px;
z-index:9;
}
.form_pos2 {position:absolute;
left:400px;
top:100px;
z-index:9;}
.form_deli_1 {position:absolute;
left:0px;
top:0px;
}
.form_deli_2 {position:absolute;
left:441px;
top:0px;
}
.form_deli_3 {position:absolute;
border-style:groove;
left:881px;
top:50px;
width:440px;
height: 550px;
overflow:scroll;
}
.form-label-left1{top:0px;
font-weight:bold;}
.form_submit {position:absolute;
left:650px;
top:600px;
z-index:9;
}
.form_pro_addlist{position:absolute;
left:200px;
top:500px;
z-index:9;
}
.form-line{clear:both;padding:10px;margin:0px;display:inline-block;width:97%;width:-moz-available;position:relative}

.addgroup_name{position:absolute;
left:100px;
top:60px;
width:440px;
height: 550px;
}
.addgroup_list{position:absolute;
left:600px;
top:60px;
width:440px;
height: 600px;
overflow:scroll;
}
.addgroup_submit{position:absolute;
left:600px;
top:700px;
width:50px;
height: 50px;

}